@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;

}

/* Home.module.css */
.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}



  
.buttonActive {
    width: 150px;
    height: 40px;
    border-radius: 100px;
    border: 0;

    font-size: 15px;
    font-weight: bold;
    color: #8858ed;
    transition: all 0.3s ease;

}.buttonActive:hover{
    color: white;
    background-color: #8858ed;
    border: 2px, solid, white;
}
.buttonPassive {
    width: 150px;
    height: 40px;
    border-radius: 100px;
    border: 0;

    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #8858ed;
    transition: all 0.3s ease;

}
.buttonPassive:hover {
    color: #8858ed;
    background-color: white;
}



.wrapper-cover {
    width: 100%;
    height: 700px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 9; /* Контейнер для всех элементов, который будет на среднем уровне */
}

.cover-background {
    background-image: url(../img/wallpaper.jpg);
    width: 100%;
    height: 700px;
    position: absolute; /* Фон должен быть абсолютным, чтобы не мешать содержимому */
    z-index: -1; /* Фон на самом заднем плане */
}

.cover {
    width: 80%;
    display: flex;
    justify-content: space-between;
    position: absolute; /* Позиционирование на основе родителя (wrapper-cover) */
    z-index: 10; /* Контейнер с контентом, который будет поверх фона */
}

.coverLeftInfo {
    width: 500px;
    height: 300px;
    border-radius: 20px;
    background-color: #8858ed;
    box-shadow: 0px 0px 34px 22px rgba(34, 60, 80, 0.42);

    padding-left: 60px;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    justify-content: center;

    color: white;
    z-index: 11; /* Контент, который будет поверх контейнера cover */
}

.coverLeftInfo h1 {
    font-size: 50px;
}
.coverRightImg img{
    width: 450px;
    height: 600px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 0px 34px 22px rgba(34, 60, 80, 0.42);
}

.coverLeftInfo,
.coverRightImg {
    opacity: 0; /* Скрываем элементы */
    transform: translateX(-100px); /* Начальное положение слева */
    transition: all 0.8s ease-out; /* Плавный переход */
}

.coverRightImg {
    transform: translateX(100px); /* Начальное положение справа */
}

.slide-in-left {
    opacity: 1;
    transform: translateX(0); /* Возвращаем в исходное положение */
}

.slide-in-right {
    opacity: 1;
    transform: translateX(0); /* Возвращаем в исходное положение */
}


.wrapper-bestsellers {
    width: 100%;
    height: 700px;
    background-color: black;

    display: flex;
    align-items: center;
}
.bestsellers {
    width: 100%;
    height: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


}
.bestsellers-header {
    width: 90%;

    display: flex;
    justify-content: space-between;
}
.bestsellers-header h2 {
    color: white;
    font-size: 40px;
}
.bestProducts {
    display: flex;
    align-items: center;
    gap: 5px;
}
.bestProducts img {
    width: 20px;
    height: auto;
}

.bestProducstForm {
    width: 400px;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.formInfo {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.bestProducstForm img {
    width: 350px;
    height: 350px;
}




.wrapper-category {
    width: 100%;
    height: 900px;
    background-color: #232223;

    display: flex;
    justify-content: center;
    align-items: center;
}
.category {
    width: 90%;
    height: 800px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.categoryName h2 {
    color: white;
    font-size: 40px;
}
.categoryForm {
    width: 100%;
    height: 700px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.categoryFormA a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    color: white;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
}

.imageWrapper {
    position: relative;
    width: 500px;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
}

.imageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.imageWrapper:hover img {
    transform: scale(1.1); /* Увеличивает изображение на 10% */
}

.imageWrapper::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(136, 88, 237, 0.6), rgba(128, 0, 128, 0));
    transition: top 0.4s ease;
    border-radius: 20px; /* Совпадает с радиусом изображения */
}

.imageWrapper:hover::after {
    top: 0;
}



.wrapper-discounts {
    width: 100%;
    height: 1000px;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;

        position: relative;
    z-index: 10;
}
.discounts {
    width: 80%;
    height: 900px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}
.discountsLeft {
    width: 500px;
    height: 300px;
    border-radius: 20px;
    background-color: #8858ed;
    box-shadow: 0px 0px 34px 22px rgba(80, 80, 80, 0.253);


    z-index: 21;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;

    color: white;
}
.discountsLeft h3 {
    margin-top: -45px;
    font-size: 180px;
}
.discountsLeft h2 {
    font-size: 50px;
    margin-top: -60px;
}
.discountsRightImg_1 {
    width: 400px;
    height: 500px;
    border-radius: 20px;
    object-fit: cover; 
    position: absolute;
    z-index: 20;

    right: 30%;
    top: 25%;
}
.discountsRightImg_2 {
    width: 400px;
    height: 500px;
    border-radius: 20px;
    object-fit: cover; 
    position: absolute;
    z-index: 20;

    top: 10%;
    right: 15%;
}
.discountsRightImg_3 {
    width: 400px;
    height: 500px;
    border-radius: 20px;
    object-fit: cover; 
    position: absolute;
    z-index: 20;

    top: 35%;
    right: 5%;
}






.wrapper-products {
    width: 100%;
    height: 700px;
    background-color: black;

    display: flex;
    align-items: center;

    position: relative;
    z-index: 10;
}

.products {
    width: 100%;
    height: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.products-header {
    width: 90%;

    display: flex;
    justify-content: space-between;
}

.products-header h2 {
    color: white;
    font-size: 40px;
}

.product {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

.product.slide-left {
    transform: translateX(-100%);
}

.product.slide-right {
    transform: translateX(100%);
}

.scroll-button {
    width: 20px;
    height: auto;
    cursor: pointer;
}

.product-form {
    width: 400px;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-form img {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.product-form p {
    margin: 10px 0;
}

.product-form button {
    margin-top: 10px;
}


.wrapper-offer {
    width: 100%;
    height: 800px;
    background-color: #232223;
}
.offer-background {
    width: 100%;
    height: 800px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.offer {
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    text-align: center;
}
.offer h1 {
    font-size: 60px;
}


.wrapper-games {
    width: 100%;
    height: 700px;
    background-color: black;

    display: flex;
    align-items: center;
}

.games {
    width: 100%;
    height: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.games-header {
    width: 90%;

    display: flex;
    justify-content: space-between;
}

.games-header h2 {
    color: white;
    font-size: 40px;
}

.gamesProducts {
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

.gamesProduct.slide-left {
    transform: translateX(-100%);
}

.gamesProduct.slide-right {
    transform: translateX(100%);
}

.scroll-button {
    width: 20px;
    height: auto;
    cursor: pointer;
}

.games-form {
    width: 400px;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.games-form img {
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.games-form p {
    margin: 10px 0;
}

.games-form button {
    margin-top: 10px;
}













.wrapper-distribution {
    width: 100%;
    height: 900px;
    background-color: #232223;
    text-align: center;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}
.distribution {
    width: 100%;
    height: 900px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 50px;
}
.distributionUp {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.distributionUp h2{
    font-size: 40px;
}
.distributionUp p{
    width: 300px;
    font-weight: 100;
    font-size: 15px;
}
.distributionForm {
    width: 500px;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.distributionForm input{
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid white;

    padding-left: 5px;
}
.distributionFormButons {
    width: 500px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.distributionFormButons input{
    width: 20px;
    height: auto;
    background-color: transparent;
}
.distributionFormButons p{
    text-align: left;
}
.distribution Link {
    position: absolute;
    margin-top: 350px;

    z-index: 15;
}
.distributionImg {
    width: 80%;
    height: auto;
}


.wrapper-background {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 14;
}
  
.background img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}
  




/* Адаптив для планшетов (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .cover {
        gap: 50px;
    }
    .coverLeftInfo {
        width: 400px;
        height: 250px;
        gap: 5px;
    }
    .coverLeftInfo h1{
        font-size: 40px;
    }

    .coverRightImg img {
        width: 350px;
        height: 400px;
        object-fit: cover;
    }


    .wrapper-background {
        display: none;
    }
    
}


/* Адаптив для телефонов (до 767px) */
@media (min-width: 320px) and (max-width: 767px) {
    .wrapper-cover {
        height: 1000px;
    }
    .cover {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .coverLeftInfo {
        width: 300px;
        height: 250px;
        padding: 10px;
    }
    .coverLeftInfo h1{
        font-size: 40px;
    }
    
    .coverRightImg img{
        width: 300px;
        height: 400px;
        object-fit: cover;
    }

    .wrapper-discounts {
        height: 600px;
    }
    .discountsRight {
        display: none;
    }
    
    .distributionForm {
        width: 100%;
        padding-left: 35px;
        
    }
    .distributionForm input {
        width: 300px;

    }
    .distributionFormButons {
        width: 300px;
        gap: 0;

    }
    .background {
        width: 100%;
    }

}
